WebApp/WebApplication/Connected Services/WcfServiceReference/WcfService.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlbumContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbumContract" nillable="true" type="tns:AlbumContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumContract" nillable="true" type="tns:ArrayOfAlbumContract" />
  <xs:complexType name="AlbumContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAlbum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumContract" nillable="true" type="tns:AlbumContract" />
  <xs:complexType name="ArrayOfUserContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserContract" nillable="true" type="tns:UserContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserContract" nillable="true" type="tns:ArrayOfUserContract" />
  <xs:complexType name="UserContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserContract" nillable="true" type="tns:UserContract" />
  <xs:complexType name="UserLoginContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLoginContract" nillable="true" type="tns:UserLoginContract" />
  <xs:complexType name="ArrayOfRatingContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingContract" nillable="true" type="tns:RatingContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatingContract" nillable="true" type="tns:ArrayOfRatingContract" />
  <xs:complexType name="RatingContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAlbum" type="xs:int" />
      <xs:element minOccurs="0" name="IdRating" type="xs:int" />
      <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingContract" nillable="true" type="tns:RatingContract" />
</xs:schema>